.header {
    background-color: cadetblue;
}
.header__title {
    font-size: 32px;
    font-weight: bold;
    color: coral;
    height: 100px;
    line-height: 100px;
    margin-left: 30px;
}
.header__nav {
    background-color: bisque;
}
.nav__list {}
.list__item {
    font-family: monospace;
    display: inline-block;
    padding: 10px;
}
.list__item a {
    text-decoration: none;
}
.list__item--red {
    margin-left: 20px;
}
.list__item--red a {
    color: red;
    
}
.list__item--red:hover {
    border-top: 2px solid red;
}
.list__item--green a {
    color: green;
}
.list__item--green:hover {
    border-top: 2px solid green;
}
.list__item--orange a {
    color: orangered;
}
.list__item--orange:hover {
    border-top: 2px solid orange;
}
.main {
    background-color: aquamarine;
}